.landingpage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../img/BG-dots.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60vh;
}

.landingpage .content-inner {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8vh;
}

.floating-elements {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.floating-elements>* {
  width: 50%;
}

.floating-elements svg {
  overflow: visible;
}

.new {
  color: var(--text-primary);
  background: linear-gradient(90deg, var(--primary), var(--primary-light));
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: left 110%;
  font-size: 14px;
  line-height: 21px;
}

.main {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main h1 {
  margin-top: 6.5%;
  max-width: 890px;
  text-align: center;
}

.main .subheading {
  margin-top: 5%;
  max-width: 800px;
  font-size: 20px;
  line-height: 35px;
  color: var(--text-secondary);
  text-align: center;
}

.main .ctas {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main .ctas .download {
  margin-right: 5px;
  width: 300px;
}

.main .ctas .github {
  margin-left: 5px;
  width: 300px;
}

.main .presentation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.main .presentation img {
  margin-top: 10%;
  width: var(--content-width);
  max-width: 1156px;
  aspect-ratio: attr(width) / attr(height);
  border: 10px solid var(--bg-dark);
  border-radius: 9px;
  box-shadow: 0px 3px 99px #EFAE741a;
}

.about {
  width: 100%;
  background-color: var(--bg-emphasize);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5% 10%;
}

.about .heading.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-bottom: 7%;
}

.about .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.about .inner .card {
  width: 48%;
  padding: 3% 4%;
  background-color: var(--bg-lighter);
  border-radius: 6px;
}

.about .card .heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 2em;
  margin-bottom: 8%;
  margin-top: 4%;
}

.about .card .heading svg {
  height: 90%;
  margin-right: 7px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-emphasize);
  margin-top: 10vh;
  padding-top: 7vh;
  width: 100%;
}

.features .feature-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.features .feature-container:nth-child(even) {
  flex-direction: row-reverse;
}

/* ------------- Carousel ----------------- */
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: var(--content-width);
}

.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  width: 100%;
}

.carousel-body {
  overflow: hidden;
  width: 100%;
  max-width: var(--content-max-width);
}

.carousel-button {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  background-color: var(--bg-emphasize);
  transition: background-color .2s ease, transform .1 ease;
}

.carousel-button:hover {
  cursor: pointer;
  background-color: var(--bg-dark);
}

.carousel-button:active {
  transform: scale(0.96);
}

.carousel-next-rec svg {
  transform: rotate(180deg);
}

.carousel-next-rec {
  margin-left: 50px;
}

.carousel-prev-rec {
  margin-right: 50px;
}

.carousel-body .carousel-list {
  padding-left: 0;
  width: 3202px;
  transition: transform .7s;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.carousel-body .carousel-listitem {
  float: left;
  margin-right: 26px;
  background-color: var(--bg-emphasize);
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 6px;
  transition: .2s ease;
}

.carousel-body .carousel-listitem:hover>img {
  transform: translateY(-8px);
}

.carousel-body .carousel-listitem:hover {
  background-color: var(--bg-dark)
}

.carousel-listitem img {
  width: 50%;
  margin: 35px;
  border-radius: 4px;
  transition: .3s ease;
}

.carousel-listitem .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.carousel-listitem .description h4 {
  text-align: center;
  color: var(--text-primary);
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 3%;
}

.carousel-listitem .description span {
  text-align: center;
  width: 80%;
}

.carousel-listitem .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15%;
}

.carousel-listitem .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 48%;
  flex-grow: 1;
  border-radius: 5px;
  background-size: 300%;
  background-position: left;
  transition: background-color .2s ease-in-out, transform .1s ease;
  cursor: pointer;
}

.carousel-listitem .button svg {
  margin-left: 6px;
  height: 40%;
}

.carousel-listitem .button:active {
  transform: scale(0.97);
  background-color: var(--text-primary);
}

.carousel-listitem .button.github {
  border: 2px solid var(--text-primary);
  background: none;
  color: var(--text-primary);
  transition: .2s ease;
  margin-right: 2%;
}

.carousel-listitem .button.github svg {
  margin-bottom: 1px;
  margin-right: 9px;
}

.carousel-listitem .button.github span {
  padding-right: 9px;
}

.carousel-listitem .button.github path {
  transition: .2s ease;
}

.carousel-listitem .button.github:hover {
  border: 2px solid var(--text-secondary);
  /* background: var(--text-secondary); */
  color: var(--text-secondary);
  /* font-weight: 500; */
}

.carousel-listitem .button.github:hover path {
  fill: var(--text-secondary);
}

.carousel-listitem .button.website {
  background: var(--text-primary);
  color: var(--bg-dark);
  font-weight: 500;
  margin-left: 2%;
}

.carousel-listitem .button.website svg {
  transition: .2s ease;
}

.carousel-listitem .button.website:hover>svg {
  transform: translate(-1.5px, 1.5px);
}

.carousel-listitem .button.website:hover {
  background-color: var(--text-secondary)
}

.carousel-listitem .button.website:active>svg {
  transform: translate(5px, -5px);
}

.carousel-listitem .carousel-body .carousel-itemlink {
  text-decoration: none;
}

.carousel-body .carousel-listitem .carousel-hover-container {
  opacity: 0;
  transition: opacity .5s;
  height: 100%;
  width: 100%;
}