* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--bg-lighter);
}

:root {
  /* Colors: */
  --primary: #F7503D;
  --primary-light: #EFAE74;
  --card-border: #FFFFFF12;
  --bg-emphasize: #0C11154D;
  --bg-dark: #0C1115;
  --bg-lighter: #1F242A;
  --text-primary: #FFFFFF;
  --text-secondary: #FFFFFFB3;
  --text-tertiary: #7B8898;
  /* Font/text values */
  --poppins: 'Poppins', sans-serif, Arial;
  /* Positioning */
  --content-width: 95%;
  --content-max-width: 1400px;
}

[data-theme=light] {
  --card-border: #00000012;
  --bg-emphasize: #E6DDD44D;
  --bg-dark: #fef8f1;
  --bg-lighter: #fbf8f5;
  --text-primary: #161616;
  --text-secondary: #161616B3;
  --text-tertiary: #4b4b4b;
}

/* Character Styles */
.body-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 55.5px;
  color: var(--text-tertiary);
}

.emphasized-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28.5px;
  color: var(--text-tertiary);
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 55px;
  color: var(--text-primary);
}

h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 45.5px;
  color: var(--text-primary);
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 55px;
  color: var(--text-primary);
}

a {
  color: var(--text-secondary);
  text-decoration: none;
}

.primary-button {
  text-decoration: none;
  padding: 1em 2.5em;
  background-color: var(--primary);
  color: var(--text-primary);
  border-radius: 0.25em;
  background-image: linear-gradient(75deg, var(--primary), var(--primary-light), var(--primary-light), var(--primary));
  background-size: 300%;
  background-position: left;
  transition: 300ms background-position ease-in-out;
  cursor: pointer;
}

.primary-button:hover {
  background-position: right;
}

.bg-dark {
  background-color: var(--bg-dark);
}

.bg-lighter {
  background-color: var(--bg-lighter);
}

.bg-emphasize {
  background-color: var(--bg-emphasize);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-tertiary {
  color: var(--text-tertiary);
}

.content-inner {
  width: var(--content-width);
  max-width: var(--content-max-width);
}

.card {
  border: 1px solid var(--card-border);
}