* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

html, body {
  width: 100%;
  background: var(--bg-lighter);
}

:root {
  /* Colors: */
  --primary: #F7503D;
  --primary-light: #EFAE74;
  --card-border: #FFFFFF12;
  --bg-emphasize: #0C11154D;
  --bg-dark: #0C1115;
  --bg-lighter: #1F242A;
  --text-primary: #FFFFFF;
  --text-secondary: #FFFFFFB3;
  --text-tertiary: #7B8898;
  --shadow-color: #00000059;
  /* Font/text values */
  --poppins: 'Poppins', sans-serif, Arial;
  /* Positioning */
  --content-width: 95%;
  --content-max-width: 1400px;
  --header-hight: 70px;
}

[data-theme=light] {
  --card-border: #00000012;
  --bg-emphasize: #E6DDD44D;
  --bg-dark: #fef8f1;
  --bg-lighter: #fbf8f5;
  --text-primary: #161616;
  --text-secondary: #161616B3;
  --text-tertiary: #4b4b4b;
  --shadow-color: #0000000f;
}

/* Character Styles */
.body-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.5px;
  color: var(--text-tertiary);
}

.emphasized-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28.5px;
  color: var(--text-tertiary);
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 82px;
  color: var(--text-primary);
}

h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 45.5px;
  color: var(--text-primary);
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-primary);
}

.subheading {
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  color: var(--text-tertiary);
  margin-top: 2%;
}

.page-heading {
  text-align: center;
  margin-top: 14vh;
  margin-bottom: 10vh;
}

a {
  color: var(--text-secondary);
  text-decoration: none;
}

.primary-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  padding: 0 30px;
  background-color: var(--primary);
  color: #ffffff;
  border-radius: 5px;
  background-image: linear-gradient(90deg, var(--primary), var(--primary-light), var(--primary-light), var(--primary));
  background-size: 300%;
  background-position: left;
  transition: background-position .2s ease-in-out, transform .05s ease-in-out;
  cursor: pointer;
}

.primary-button:hover {
  background-position: right;
}

.primary-button:active {
  transform: scale(0.97);
  background-position: left;
}

.secondary-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 300px;
  background-color: none;
  color: var(--text-primary);
  border: 2px solid var(--text-primary);
  border-radius: 5px;
  transition: .1s ease-in-out;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: var(--text-primary);
  color: var(--bg-dark)
}

.content-inner {
  width: var(--content-width);
  max-width: var(--content-max-width);
}

.card {
  border: 1px solid var(--card-border);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: var(--header-hight);
}

/* ------------------------ HEADER -------------------- */
header {
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--header-hight);
  position: fixed;
  background-color: var(--bg-dark);
  box-shadow: 0px 3px 35px var(--shadow-color);
}

header .content-inner {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo svg {
  height: 19px;
  margin-right: 10px;
}

.logo .name {
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.logo .name .title {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-primary)
}

.logo .name .version {
  font-size: 11px;
  font-weight: 400;
  color: var(--text-secondary);
  padding-left: 5px;
}

header .navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: var(--text-secondary);
}

header .navigation>* {
  margin-left: 2em;
  transition: .1s ease;
}

header .navigation .active, .navigation>*:hover {
  color: var(--text-primary);
}

header .navigation .github a, .theme-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.theme-switch input, .sun {
  display: none;
}

.theme-switch-label svg:hover {
  cursor: pointer;
}

footer {
  background-color: var(--bg-dark);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

footer .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 7vh 0 7vh 0;
  border-bottom: 1px solid var(--card-border);
}

footer h1 {
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 2%;
}

footer .primary-button span {
  margin-right: 10px;
}

footer .primary-button svg {
  transition: .2s ease;
}

footer .primary-button:hover>svg {
  transform: translate(-1.5px, 1.5px);
}

footer .primary-button:active>svg {
  transform: translate(5px, -5px);
}

footer .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0;
}

footer .bottom .logo, footer .bottom .social {
  width: 14%;
}

footer .bottom .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-secondary);
}

footer .navigation .standard {
  padding-right: 1vw;
  border-right: 1px solid var(--card-border);
}

footer .navigation .extra {
  padding-left: 1vw;
}

footer .navigation a {
  margin: 0 1em;
  transition: .1s ease;
  font-size: 15px;
  text-align: center;
}

footer .navigation a:hover {
  color: var(--text-primary);
}

footer .social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

footer .social a svg path {
  transition: .1s ease;
}

footer .social a:hover svg path {
  fill: var(--text-primary);
}

footer .social a:active {
  transform: scale(0.97);
}